
#tableView {
  line-height: 2;
  font-size: 1.3em;

  input {
    font-size: 1.6em;
  }

  .abbrNation {
    font-weight: bold;
    font-size: 1.5em;
  }

  .table-input {
    display: none;
  }

  .table-amount {
    font-size: 1.6em;
  }

  .table-money-unit {
    font-weight: lighter;
  }

  .top {
    background: #ffcdd2;
  }
}